<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyser</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="app-page theme-light">
    <aside class="sidebar">
        <div class="sidebar-header">
            <div class="logo" style="color: white;">ANALYSIS TOOL</div>
            <button id="sidebar-toggle-btn" class="sidebar-toggle">
                <i class="fas fa-bars"></i>
            </button>
        </div>
        <nav>
            <a href="{{ url_for('home') }}"><i class="fas fa-home"></i><span class="menu-text">Home</span></a>
            <a href="{{ url_for('dashboard') }}"><i class="fas fa-chart-pie"></i><span class="menu-text">Dashboard</span></a>
            <a href="#" class="has-submenu"><i class="fas fa-chart-line"></i><span class="menu-text">Visualization</span></a>
            <div class="submenu">
                <a href="{{ url_for('visualisation_employment') }}">Employment</a>
                <a href="{{ url_for('visualisation_living_cost') }}">Living Cost</a>
                <a href="{{ url_for('visualisation_public_health') }}">Public Health</a>
            </div>
            <a href="{{ url_for('view_data') }}"><i class="fas fa-table"></i><span class="menu-text">View Data</span></a>
            <a href="{{ url_for('analyser') }}" class="active"><i class="fas fa-search"></i><span class="menu-text">Analyser</span></a>
            <a href="{{ url_for('real_time_scrape') }}"><i class="fab fa-reddit-alien"></i><span class="menu-text">Live Analysis</span></a>
            <a href="{{ url_for('help_page') }}"><i class="fas fa-question-circle"></i><span class="menu-text">Help</span></a>
            <a href="{{ url_for('index') }}"><i class="fa-solid fa-person-walking-arrow-right"></i><span class="menu-text">Exit</span></a>
        </nav>
        <div class="sidebar-footer">
            <!-- <a href="#" class="sidebar-btn">Refresh</a>
            <a href="{{ url_for('index') }}" class="sidebar-btn">Exit</a> -->
        </div>
    </aside>
    <main class="main-content">
        <header>
            <h2><i class="fas fa-search" style="margin-right: 10px;"></i>ANALYSER FOR SOCIOECONOMIC SENTIMENT</h2>
        </header>
        <div class="content-body analyser-content">
            <!-- <div class="platform-selector">
                <button class="platform-btn active">TikTok</button>
                <button class="platform-btn">Reddit</button>
            </div> -->
            <div class="input-area">
                <label for="text-to-analyze">Please enter your text in English* for analysis or leave default one.</label>
                <textarea id="text-to-analyze">I finally got the job I was hoping for! The company offers great opportunities for growth.</textarea>
                <div class="action-buttons">
                    <button id="analyse-btn" class="btn-primary" style="background-color: #8160e6; color: #ffff; border: #8160e6;">ANALYSE</button>
                    <button id="clear-btn" class="btn-secondary" style="background-color: #ed3c4e; color: #ffff; border: #ed3c4e">CLEAR</button>
                    <a href="{{ url_for('help_page') }}" class="help-link">Help</a>
                </div>
            </div>
            <div class="result-area">
                <h3>RESULT OF ANALYZER</h3>
                <div id="analyser-result">
                     <img src="https://img.icons8.com/ios/100/CCCCCC/combo-chart--v1.png" alt="chart icon" class="placeholder-icon"/>
                </div>
            </div>
            <div class="score-legend-container">
                <!-- <h4>Score Range</h4> -->
                <div class="legend-bar"></div>
                <div class="legend-labels">
                    <div class="label-item">
                        <span>Negative</span>
                        <span class="score-value">-1.0</span>
                    </div>
                    <div class="label-item">
                        <span class="score-value">-0.25</span>
                    </div>
                    <div class="label-item">
                        <span>Neutral</span>
                        <span class="score-value">0.0</span>
                    </div>
                    <div class="label-item">
                        <span class="score-value">+0.25</span>
                    </div>
                    <div class="label-item">
                        <span>Positive</span>
                        <span class="score-value">+1.0</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
